  <div id='container'>
    <h1 class="title">{{title}}</h1>
      <p> All beer listed here is available at {{title}} and is {{volume}}</p>
      <div id="inputForm">
    <!--     Type Actor Here: <br><br> -->
        <input id="searchInput" type ="text" name="actor">

      </div>

       <button id="button" type="button">Search</button>
       <div id="face">
       </div>
      <div id='results'></div>

    
  </div>
